#explore_conditions_ui_1-coming_soon_title {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#explore_conditions_ui_1-coming_soon_description {
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
}